.projects_container
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: start
  height: 100vh
  background: #3D5246
  color: #FFFFFF
  padding: 0 5%

  ul
    display: flex

    li
      display: flex
      width: 360px
      height: 540px
      overflow: hidden
      overflow: hidden
      border-radius: 8px