.projects_container
  background: #3D5246
  color: #FFFFFF
  ul
    display: flex

    li
      display: flex
      width: 360px
      height: 540px
      overflow: hidden
      overflow: hidden
      border-radius: 8px