.loading_page_container
  position: fixed
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  z-index: 9999

  .loader
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-template-rows: repeat(5, 1fr)
    grid-column-gap: 0
    grid-row-gap: 0

  svg
    width: 20%
    animation: scale2 1.5s forwards

    .loader_green
      fill: #3D5246
      animation: colorChangeGreen 1.5s infinite
    .loader_black
      fill: #000000
      animation: colorChangeBlack 1.5s infinite

@keyframes scale2
  0%
    transform: scale(0)
  100%
    transform: scale(2)

@keyframes colorChangeBlack
  0%
    fill: #000000
  50%
    fill: #3D5246
  100%
    fill: #000000

@keyframes colorChangeGreen
  0%
    fill: #3D5246
  50%
    fill: #000000
  100%
    fill: #3D5246