
.immersive_visuals-container
  display: grid
  grid-template-columns: 1fr .5fr

  width: 100vw
  height: 100vh
  overflow: hidden

  .text_container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 40px
    height: 100%

    font-family: "Gravity", sans-serif
    background:  #3D5246
    color: white


    .title-spe
      font-size: 6rem
      font-family: "Shintia Script", sans-serif
      line-height: 8rem
    .title-spe1
      font-size: 8rem
    h2
      font-size: 2rem
      line-height: 40px

    .text
      display: flex
      flex-direction: column
      justify-content: center
      align-items: start
      gap: 40px



  .img_container
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    img
      width: 50%
      height: auto