@font-face
  font-family: 'Neufreit'
  src: url(../../fonts/Neufreit/Neufreit-ExtraBold.otf) format('otf')

@font-face
  font-family: 'Gravity'
  src: url(../../fonts/Gravity/Gravity-Book.otf) format('otf')